<pre>
Appearances: <%= Appearance.count %>
Listings: <%= Listing.count %>
Statistical areas: <%= StatisticalArea.count %>

<% days = StatisticalArea.days %>
Days (<%= days.length %>): <%= days.join("\n ") %>
</pre>
<table>
  <tr>
    <th></th>
    <% days.each do |d| %>
      <th><%= d %></th>
    <% end %>
  </tr>
<% StatisticalArea.all.each do |area| %>
  <tr>
    <th><%= area.name %></th>
    <% days.each do |d| %>
      <th><%= area.appearances.on(d).count %></th>
    <% end %>
  </tr>
<% end %>
</table>


